@using TripTrotters.Services.Abstractions;
@using TripTrotters.ViewModels;
@model Apartment
@inject IReviewService _reviewService;

@{
    ViewData["Title"] = "Apartment Details";
    var reviews = _reviewService.GetAllByApartmentId(Model.Id).Result;
    int reviewNo = 1;
}

<script>
    $(document).ready(function () {
        // Set comments toggle for each post
    @for (int i = 1; i <= Model.Reviews.Count(); i++)
    {
        string reviewEditBtnId = $"#reviewEditBtn{i}";
        string reviewEditId = $"#reviewEdit{i}";

        <text>
                $(document).on('click', '@reviewEditBtnId', function () {
                    $('@reviewEditId').toggle();
                });
        </text>
    }
        });
</script>

<h1>@Model.Title</h1>

<div>
    <h4>Price: @Model.Price</h4>
    <h4>Address: @Model.Address.City, @Model.Address.Street</h4>
    <h4>Description:</h4>
    <p>@Model.Description</p>
</div>

@if (Model.Reviews != null && Model.Reviews.Count > 0)
{
    <h2>Reviews:</h2>
    <div class="row">
        <div class="col-md-10">
        @foreach (var review in reviews)
        {
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <h5 class="card-text">@review.Description</h5>
                        <p class="card-text">Rating: @review.Rating</p>
                        <p class="card-text">Date: @review.Date</p>
                        <p class="card-text">Author: @review.User.UserName</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="comment-button">
                                <button id="@string.Format("reviewEditBtn{0}", reviewNo)" type="button" class="btn btn-light">
                                    <span class="far fa-comment"></span>
                                    <i>Edit your review</i>
                                </button>
                            </div>
                            <div>
                                <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Review" asp-action="Delete" asp-route-id="@review.Id">Delete</a>
                            </div>
                        </div>

                        <div id="@string.Format("reviewEdit{0}", reviewNo)" style="display:none">
                            <div class="comment-form">
                                
                                @Html.Partial("~/Views/Review/Edit.cshtml", new  ReviewViewModel{ Id = review.Id, ApartmentId = review.ApartmentId,   UserId = review.UserId})
                            </div>
                        </div>
                    </div>
                </div>
           
            reviewNo++;
        }
        </div>
    </div>
}

@if (Model.Posts != null && Model.Posts.Count > 0)
{
    <h2>Posts:</h2>
    <ul>
        @foreach (var post in Model.Posts)
        {
            <li>@post.Title: </li>
        }
    </ul>
}

@if (Model.Offers != null && Model.Offers.Count > 0)
{
    <h2>Offers:</h2>
    <ul>
        @foreach (var offer in Model.Offers)
        {
            <li>@offer.Title: </li>
        }
    </ul>
}

@if (!string.IsNullOrEmpty(Model.Image))
{
    <h2>Image:</h2>
    <img src="@Model.Image" alt="Apartment Image" />
}
<div>
    <div class="comment-form">
        @{
            ViewData["ApartmentId"] = @Model.Id;
        }
        @Html.Partial("~/Views/Review/Create.cshtml", new ReviewViewModel{ ApartmentId = (int)ViewData["ApartmentId"]})

    </div>
</div>



